:root {
    --background: #252525;
    --sapphire: #4059AD;
    --blue-gray: #6b9ac4;
    --tiff: #97d8c4;
    --white: #eff2f1;
    --xanth: #f4b942;
}

@font-face {
    font-family: 'Jelle';
    src: url('fonts/Jellee-Bold.woff2') format('woff2'),
    url('fonts/Jellee-Bold.woff') format('woff');
}

body {
    background-image: url('images/leo-DTZaI8lolUk-unsplash.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--background);
    margin: 0;
    height: 100dvh;
    width: 100dvw;
}

.flex {
    display: flex;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
    background-color: rgba(239, 242, 241, 0.2);
    /* opacity: 20%; */

}

button{
    appearance: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.flex button {
    margin: 1rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--xanth);
}

.flex button:hover{
    background-color: color-mix(in srgb, var(--xanth) 80%, white 20%);
}